.home-page {
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .scroll-row {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    gap: 1rem;
    scrollbar-width: none; /* Firefox */
  }
  
  .scroll-row::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  